*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
section{
    height: 100vh;
}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
}
nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 30px 0;

}
nav ul a{
    color: gray;
}
#section-home{
    background-color: pink;
}
#section-about{
    background-color: yellow;
}

#section-info{
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
}