
*{

    margin: 0;
    padding: 0;
}


p{

    text-align: center;
    padding: 50px;
    font-size: 30px;
}
body{
   background: beige;
}

.wropper {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 15px 0;
}
.card {
    width: 250px;
    height: 300px;
    border: 1px solid gray;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.card img {
    width: 60%;
}
.card p {
    font-size: 25px;
    font-weight:bold;

}