*{
    margin:0;
    padding:0;
}
 section{
     height:50vh;
     display:flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     text-align: center;
     gap: 30px;
     font-family: Arial, Helvetica, sans-serif;
 }
 section p{
     width: 75%;
 }
.top-section{
  background-color: pink;


 }
 .bottom-section{
  background-color: black;
     color: white;
 }