
body {
     background: beige;
     height: 100vh

 }

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    background: darkgoldenrod;


}
.square{
    background: red;
    width: 100px;
    height: 100px;
    transition: 1s;
}
.square:hover {
    border-radius: 50%;
    background-color: gray;
    transition: 2s;

}