body{
    margin: 2%;
}


header{
    height: 80vh;
    background-color: cornflowerblue;
}
.wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2% 0;
}
section{
    height: 50vh;
    width: 32%;
    background-color: blue;
}
footer{
    height: 90vh;
    background-color: cornflowerblue;
}
header, section, footer {
    color: white;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}