*{
    margin: 0;
    padding: 0;
}
section{
    height:80vh;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 30px;
    font-family: Arial, Helvetica, sans-serif;

}
#top-section{
    background-color:red;
}
#middle-section{
    background-color: lightblue;
}
#bottom-section{
    background-color:green;
}
a{
    color:black;
    font-size: 40px;

}